:root {
    --bgcolor: rgb(248, 248, 248);
    --nvcolor: rgb(255, 255, 255);
    --bncolor: rgb(34, 2, 115);
    --prcolor:white;
    --prtextcolor:rgb(18, 2, 62);
    --shadows:rgb(186, 185, 185);
    --Hardershadows:rgb(97, 97, 97);
    --sliderColor:#008610;

}
#checkout {
    width: 95%;
    height: 50px;
    
    border-radius: 10px;
    
    background-color: var(--bncolor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu {
    position: fixed;
    left: 100vw;
    z-index: 3;
    width: 80vw;
    height: 100vh;
    background-color: var(--bgcolor);
    
}
#menu img {
    height: 40px;
}




/* ///// PHONE ///// */
@media screen and (max-width:500px) {

#home {
    display: grid;
    grid-template-areas: 
    "nv"
    "bn"
    "mn"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 30px min-content auto;  
    gap:0px;
    margin: 0px;
    background-color: var(--bgcolor);
}
#cartPageBody {
    display: grid;
    background-color: var(--bgcolor);
    grid-template-areas: 
    "nv"
    "bn"
    "mn"
    "ft"
    ;
    grid-template-columns: 100vw;
    grid-template-rows: min-content 30px minmax(500px,auto) auto;
    
    margin: 0px;
    background-color: var(--bgcolor);
}
#stores {
    display: grid;
    grid-template-areas: 
    "nv"
    "bn"
    "mn"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 30px min-content auto;  
    gap:0px;
    margin: 0px;
    background-color: var(--bgcolor);
}

/* ///// Main Content ///// */
#stores main {
    grid-area: mn;
    display: flex;
    gap: 0px;
    flex-direction: column;
    justify-content:center;
    
}
#prodtitle {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#main {
    grid-area: mn;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}
#list {
    grid-area: mn;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;

    padding-bottom: 10px;
    border-radius: 10px;

    background-color: var(--prcolor);
    
    box-shadow:
        2px 2px 10px var(--Hardershadows),
        -2px -2px 10px var(--Hardershadows),
        -2px 2px 10px var(--Hardershadows),
        2px -2px 10px var(--Hardershadows);
}
/* ///// Stores ///// */
#stores .display {
    width: 50%;
}
#stores article {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;

    
    height: 300px;
    padding-right: 20px;

    background-color:rgb(249, 249, 249);
    border-radius: 10px;

    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    
    transition: transform 0.2s ease;
    
}

#stores .credit {
    margin-top: -290px;
    margin-left: 53%;
}
#stores .prname {
    margin-left: 53%;
}

.address {
    margin-top: 20px;
    margin-left: 53%;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.oppet {
    margin-top: 20px;
    margin-left: 53%;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.tid {
    margin-top: 5px;
    margin-left: 53%;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#stores a {
    text-decoration: none;
    color:rgb(90, 90, 90);
}

/* ///// Product ///// */
.product {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    /* width: 23%; */
    height: 220px;

    background-color:rgb(249, 249, 249);
    border-radius: 10px;

    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    
    transition: transform 0.2s ease;
    
}
.display {
    /* margin-top: 10px;
    margin-left: 20px; */
    height: 100%;
    width: 40%;
    object-fit: cover;

    border-radius: 10px 0px 0px 10px;
    
    transition: height 0.2s;
}

.credit {
    margin-left: 42%;
    margin-top: -210px;
    margin-bottom: 5px;

    color:rgb(90, 90, 90);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.prname {
    margin-left: 42%;
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.stars {
    margin-left: 42%;
    margin-top: 2px;
    margin-bottom: 0px;

    height: 20px;
    
    padding:0px;

    display: flex;
}
.stars * {
    
    height: 100%;
}
.ratings {
    
    margin-left: 5px;
    margin-top: 3px;
   
    font-size: 13px;
    color:rgb(90, 90, 90);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    margin-left: 36%;
    margin-top: 0px;
    list-style: none;
    
    transition: all 0.2s;
}

li * {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
    font-weight: bold;
}
ul {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -15px;
}

.listarrow {
    height: 10px;
    width: 10px;
}
.price {
    margin-left: 42%;
    margin-top: 21px;
    margin-bottom: 0px;

    color: var(--prtextcolor);
    font-size:32px;
    font-family: Arial, Helvetica, sans-serif;

    transition: margin 0.2s;
}

.addToCart {
    margin-left: 73%; 
    margin-top: -50px;
    margin-bottom: 0px;

    transition: margin 0.2s;
}

.addcart {
    width: 80px;
    height: 50px;
    object-fit: cover;

    border-radius: 10px;
    box-shadow:
        1px 1px 2px var(--shadows),
        -1px -1px 2px var(--shadows),
        -1px 1px 2px var(--shadows),
        1px -1px 2px var(--shadows);
}
.addToCart:hover {
    cursor: pointer;
} 
.product a {
    text-decoration: none;
    color:rgb(90, 90, 90);
}

/* ///// Cart Products ////// */
.cartProduct {
    
    /* width: 95.9%; */
    height: 85px;

    background-color:var(--nvcolor);
    /* border-radius: 10px; */

    box-shadow: 
        0px -2px 1px black;
        /* 0px -2px 1px black; */
    padding: 10px;
    /* outline: red solid; */

}


.cartProduct .display {
    height: 100%;
    width: 25%;
    object-fit: cover;

    border-radius: 10px 10px 10px 10px;
    
    transition: height 0.2s;
}
.cartProduct .prname {
    margin-left: 28%;
    margin-top: -92px;
}
.cartProduct .stars {
    margin-left: 28%;
    margin-top: 5px;
    
}
.cartProduct .credit {
    margin-left: 28%;
    margin-top: 22px;
}
.cartProduct a {
    text-decoration: none;
    color:rgb(90, 90, 90);
}
.cartProduct .price {
    margin-left: 69%;
    margin-top: -36px;
    
}
.removeFromCart {
    margin-left: 87%;
    margin-top: -90px;
    
}
.removeFromCart:hover {
    cursor: pointer;
}
.removeCart {
    width: 40px;
}

#back img {
    height: 100%;
    margin-top: 3px;
    
    
}
#back {
    height: 24px;
    font-size: 24px;
    color:red;
}
/* ///// Summary ///// */
#summary {

    /* margin-top: 40px; */
    /* margin-left: 40px;
    margin-right: 40px; */

    border-radius: 10px;
    /* background-color: var(--prcolor); */
    padding-left: 20px;
    /* box-shadow:
        2px 2px 10px var(--Hardershadows),
        -2px -2px 10px var(--Hardershadows),
        -2px 2px 10px var(--Hardershadows),
        2px -2px 10px var(--Hardershadows); */
}
.divider {
    margin-top: 20px;

    height: 1px;
    width: 95%;
    background-color: var(--shadows);
}
#checkout {
    width: 95%;
    height: 50px;
    
    border-radius: 10px;
    
    background-color: var(--bncolor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#checkout:hover {
    cursor: pointer;
}

/* ///// Extras ///// */
#checkout strong {
    display: block;
}
#checkout h3 {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6px;
    margin-bottom: auto; */
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

}
.small {
    margin-top: 0px;
    margin-bottom: 5px;
    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.leftmarg {
    margin-left: 20px;

}
.title {
    margin-top: 14px;
    margin-bottom: 15px;
    font-size: 24px;
    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
}
.num {
    margin-top: -25px;
    margin-left: 75%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
}
#ordertit {
    margin-bottom: 30px;
}
#total {
    margin-top: -42px;
    margin-left: 65%;

    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
}
/*/////// NAV ///////*/
#header {
    grid-area: nv;

    background-color: var(--nvcolor);
    
    display: grid;
    /* "me lg bt sh sl" */
    grid-template-areas: 
    "me lg ca"
    "sh sh sh"
    ;
    
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 70px 70px;

    
}

#menu-button {
    grid-area: me;
    margin: auto;
    height: 60%;
}

#logo {
    display: block;
    height: 100%;
    margin: auto;
    
}
#logoa {
    grid-area:lg;
    height: 100%;
    width:100%;
    /* margin: auto; */
    
}

#search {
    grid-area: sh;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 20px;
    height: 50%;

    border-radius: 20px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
}

#container {
    opacity: 0%;
    position: fixed;
    top: -50px;
    left: -50px;
    grid-area:bt;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    gap:80px;
    justify-content: center;
   
    
}

#container * {
    text-decoration: none;
    color: var(--prtextcolor);

    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#cart img {
    margin: auto;
    height: 70%;
    
}
#cart {
    grid-area: ca;
    display: flex;

    height: 100%;
    width: 100%;

    
}

/* /////Banner */
#banner {
    grid-area: bn;
    background-color:var(--bncolor);

}

/* ///// Footer ///// */
footer {
    margin-top: 20px;
    grid-area: ft;
    background-color: var(--prtextcolor);
    padding-left: 20px;
    padding-top: 20px;
}
footer * {
    color: var(--prcolor);
    margin-top: 5px;
    margin-bottom: 10px;
}
/* ///// Filters ///// */
.filters {
    opacity: 0%;
    position: fixed;
}
}
/* ///// Computer ////// */
@media screen and (min-width:501px) {
#menu-button {
    position: fixed;
    top: -50px;
    left: -50px;
    opacity: 0%;
}
#home {
    display: grid;
    grid-template-areas: 
    "nv nv"
    "bn bn"
    "mn fi"
    "ft ft"
    ;
    grid-template-columns: 1fr 25vw;
    grid-template-rows: 90px 30px min-content auto;  
    gap:0px;
    margin: 0px;
    background-color: var(--bgcolor);
}
#cartPageBody {
    display: grid;
    background-color: var(--bgcolor);
    grid-template-areas: 
    "nv nv"
    "bn bn"
    "mn su"
    "ft ft"
    ;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 90px 30px minmax(500px,auto) auto;
    
    margin: 0px;
    background-color: var(--bgcolor);
}
#stores {
    display: grid;
    grid-template-areas: 
    "nv"
    "bn"
    "mn"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 30px min-content auto;  
    gap:0px;
    margin: 0px;
    background-color: var(--bgcolor);
}
#contactus {
    display: grid;
    grid-template-areas: 
    "nv"
    "bn"
    "mn"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 30px min-content auto;  
    gap:0px;
    margin: 0px;
    background-color: var(--bgcolor);
}
#whyus {
    display: grid;
    grid-template-areas: 
    "nv"
    "bn"
    "mn"
    "b2"
    "ft"
    ;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content min-content auto;  
    gap:0px;
    margin: 0px;
    background-color: var(--bgcolor);
}

/* ///// Main Content ///// */
#whyus main {
    grid-area: mn;
    /* margin-top: 20px; */
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--bgcolor);
    height: 200px;
    display: flex;
    padding: 20px;
    gap: 20px;
    
}

#contactus main {
    grid-area: mn;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#stores main {
    grid-area: mn;
    display: flex;
    gap: 40px;
    justify-content:center;
    
}
#prodtitle {
    margin-left: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#main {
    grid-area: mn;
    display: flex;
    flex-wrap: wrap;

}
#list {
    grid-area: mn;
    margin-left: 40px;
    margin-top: 40px;

    padding-bottom: 10px;
    border-radius: 10px;

    background-color: var(--prcolor);
    
    box-shadow:
        2px 2px 10px var(--Hardershadows),
        -2px -2px 10px var(--Hardershadows),
        -2px 2px 10px var(--Hardershadows),
        2px -2px 10px var(--Hardershadows);
}
/* ///// WHy Us ///// */
#whyus article {
    height: 100%;
    width: 24%;
    border-radius: 10px;
    background-color: var(--nvcolor);

    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    padding: 20px;
}
.award {
    width: 80px;
}
.thing {
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
}
#banner2 {
    grid-area: b2;
    margin: 20px;
    background-color: var(--nvcolor);
    height: 300px;
    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    border-radius: 10px;
}

/* ///// Contact ///// */
#contactus article{
    margin-left: 20px;
    margin-top: 20px;

    width: 24%;
    height: 400px;

    background-color:rgb(249, 249, 249);
    border-radius: 10px;

    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    
    transition: transform 0.2s ease;
}
#contactus .display {
    height: 60%;
    width: 100%;
    object-position:0px -50px;
    object-fit:cover;

    border-radius: 10px 10px 0px 0px;
    
    transition: height 0.2s;
}
#contactus .name {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

}
#contactus .role {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
/* ///// Stores ///// */
#stores article {
    margin-left: 20px;
    margin-top: 20px;

    width: 20%;
    height: 500px;

    background-color:rgb(249, 249, 249);
    border-radius: 10px;

    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    
    transition: transform 0.2s ease;
    
}

.address {
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.oppet {
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.tid {
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#stores a {
    text-decoration: none;
    color:rgb(90, 90, 90);
}
/* ///// Product ///// */
.product {
    margin-left: 20px;
    margin-top: 20px;

    width: 23%;
    height: 400px;

    background-color:rgb(249, 249, 249);
    border-radius: 10px;

    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);
    
    transition: transform 0.2s ease;
    
}
.display {
    height: 60%;
    width: 100%;
    object-fit: cover;

    border-radius: 10px 10px 0px 0px;
    
    transition: height 0.2s;
}

.credit {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;

    color:rgb(90, 90, 90);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.prname {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;

    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.stars {
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 0px;

    height: 20px;
    
    padding:0px;

    display: flex;
}
.stars * {
    
    height: 100%;
}
.ratings {
    
    margin-left: 5px;
    margin-top: 3px;
   
    font-size: 13px;
    color:rgb(90, 90, 90);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
li {
    opacity: 0%;
    list-style: none;
    
    transition: all 0.2s;
}

li * {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
    font-weight: bold;
}
ul {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: -15px;
}

.listarrow {
    height: 10px;
    width: 10px;
}
.price {
    margin-left: 15px;
    margin-top: -57px;
    margin-bottom: 0px;

    color: var(--prtextcolor);
    font-size:32px;
    font-family: Arial, Helvetica, sans-serif;

    transition: margin 0.2s;
}

.addToCart {
    margin-left: 64%; 
    margin-top: -50px;
    margin-bottom: 0px;

    transition: margin 0.2s;
}

.addcart {
    width: 80px;
    height: 50px;
    object-fit: cover;

    border-radius: 10px;
    box-shadow:
        1px 1px 2px var(--shadows),
        -1px -1px 2px var(--shadows),
        -1px 1px 2px var(--shadows),
        1px -1px 2px var(--shadows);
}
.addToCart:hover {
    cursor: pointer;
} 
.product a {
    text-decoration: none;
    color:rgb(90, 90, 90);
}
/* ///// Product Hover ///// */
.product:hover {
    transform: scale(1.05);
}
.product:hover .display {
    height: 40%;
}
.product:hover li {
    opacity: 100%;
    
}
.product:hover .price {
    margin-top: 30px;
}
/* ///// Cart Products ////// */
.cartProduct {
    
    /* width: 95.9%; */
    height: 85px;

    background-color:var(--nvcolor);
    /* border-radius: 10px; */

    box-shadow: 
        0px 2px 1px black,
        0px -2px 1px black;
    padding: 20px;
    /* outline: red solid; */

}


.cartProduct .display {
    height: 100%;
    width: 18%;
    object-fit: cover;

    border-radius: 10px 10px 10px 10px;
    
    transition: height 0.2s;
}
.cartProduct .prname {
    margin-left: 20%;
    margin-top: -92px;
}
.cartProduct .stars {
    margin-left: 20%;
    margin-top: 5px;
    
}
.cartProduct .credit {
    margin-left: 20%;
    margin-top: 10px;
}
.cartProduct a {
    text-decoration: none;
    color:rgb(90, 90, 90);
}
.cartProduct .price {
    margin-left: 85%;
    margin-top: -55px;
    
}
.removeFromCart {
    margin-left: 95%;
    margin-top: -40px;
    
}
.removeFromCart:hover {
    cursor: pointer;
}
.removeCart {
    width: 40px;
}

#back img {
    height: 100%;
    margin-top: 3px;
    
    
}
#back {
    height: 24px;
    font-size: 24px;
    color:red;
}
/* ///// Summary ///// */
#summary {
    grid-area: su;

    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;

    border-radius: 10px;
    background-color: var(--prcolor);
    padding-left: 20px;
    box-shadow:
        2px 2px 10px var(--Hardershadows),
        -2px -2px 10px var(--Hardershadows),
        -2px 2px 10px var(--Hardershadows),
        2px -2px 10px var(--Hardershadows);
}
.divider {
    margin-top: 50px;

    height: 1px;
    width: 95%;
    background-color: var(--shadows);
}

#checkout:hover {
    cursor: pointer;
}

/* ///// Extras ///// */
#checkout h3 {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 130px;
    /* height: 24px; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

}
.small {
    margin-top: 0px;
    margin-bottom: 5px;
    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}
.leftmarg {
    margin-left: 20px;

}
.title {
    margin-top: 14px;
    margin-bottom: 15px;
    font-size: 24px;
    color: var(--prtextcolor);
    font-family: Arial, Helvetica, sans-serif;
}
.num {
    margin-top: -25px;
    margin-left: 80%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
}
#ordertit {
    margin-bottom: 30px;
}
#total {
    margin-top: -42px;
    margin-left: 75%;

    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
}
/* ///// FIlters ///// */
.filters {
    grid-area: fi;
    
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
    
    background-color: var(--prcolor);

    border-radius: 10px;
    box-shadow:
        2px 2px 5px var(--shadows),
        -2px -2px 5px var(--shadows),
        -2px 2px 5px var(--shadows),
        2px -2px 5px var(--shadows);

    padding: 20px;
 
}
.filters * {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--prtextcolor);
}
.filter {
    font-size: small;
}


#clearFilters {
    margin-top: -37.5px;
    margin-left: 80%;
    margin-bottom: 30px;

    color:var(--sliderColor);
    
}
#clearFilters:hover {
cursor: pointer;
}




/* ///// SLIDERS :( ///// */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: var(--sliderColor);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--sliderColor);
  cursor: pointer;
}

/* ///// Footer ///// */
footer {
    margin-top: 20px;
    grid-area: ft;
    background-color: var(--prtextcolor);
    padding-left: 20px;
    padding-top: 20px;
}
footer * {
    color: var(--prcolor);
    margin-top: 5px;
    margin-bottom: 10px;
}
/*/////// NAV ///////*/
#header {
    grid-area: nv;

    background-color: var(--nvcolor);
    
    display: grid;
    grid-template-areas: 
    "lg bt sh ca"
    ;
    grid-template-columns: 250px 1fr 300px 100px;
    grid-template-rows: 90px;

    
}

#logo {
    height: 100%;
}
#logoa {
    grid-area:lg;
    height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    
}

#search {
    grid-area: sh;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;

    border-radius: 20px;
    border-style: solid;
    border-color: rgb(224, 224, 224);

    

}

#container {
    grid-area:bt;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    gap:80px;
    justify-content: center;
   
    
}

#container * {
    text-decoration: none;
    color: var(--prtextcolor);

    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#cart img {
    margin: auto;
    height: 56%;
    
}
#cart {
    grid-area: ca;
    display: flex;

    height: 100%;
    width: 100%;

    
}

/* /////Banner */
#banner {
    grid-area: bn;
    background-color:var(--bncolor);

}
}