/* VARIABLES */
:root {
    --navcolor:white;
    --itemfade1:rgb(57, 57, 57);
    --itemfade2:rgb(174, 173, 173);

    --bodycolor:rgb(183, 179, 179);
}
/* NORMAL */

body {
    display: grid;
    gap:0px;
    padding: 0px;
    margin: 0px;
    background-color: var(--bodycolor);
    overflow-x: hidden;
    

    
    
}

nav {
    grid-area: nv;
    background-color: var(--navcolor);
    display: grid;
    

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 80px 20px;

    grid-template-areas: 
    "lg sl"
    ;
    


    /* align-items: start; */
}


#selectable {
    grid-area: sl;
    display: flex;
    justify-content: end;
    
    padding:5px;
    gap: 10px;
    /* margin: 10px; */
}

section {
    grid-area: sc;
    background-color: blue;
    padding: 15px;
}
aside {
    grid-area: as;
    background-color: rgb(255, 255, 255);
}
main {
    grid-area: mn;
    background-color: var(--bodycolor);
    display: flex;
    flex-wrap: wrap;

    /* gap: 2px; */
    
    
}
footer {
    grid-area: ft;
    background-color: brown;
}

#selectable * {
    z-index: 2;
    height: 80%;
    gap:10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    
}


button:hover{
    background-color: black;
}

#close-menu {
    width:50px;
    height: 50px;
    position: relative;
    right: -200px;
    cursor: pointer;
    z-index: 3;
    outline: red solid;
}
#filter {
    color: black;
    margin-left: 20px;
}
.filters {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.slidecontainer {
    margin-right: 10px;
    margin-left: 10px;
}
.slider {
    width: 100%;
    
}





.product li{
    opacity: 0%;
    /* margin: 0; */
    
    transition: all 0.1s margin-left 0s;
    list-style: none;
}

.addcart {
    position:relative;
    z-index: 2;
    left: 75%;
    
    top:-76px;
    width: 45px;
    transition: all 0.1s;
    cursor: pointer;
}

.circle {
    position: relative;
    left: 51%;
    top:-62px;
    
    width: 80px;
    transition: all 0.1s;
    opacity: 2%;
    cursor: pointer;
    /* box-shadow:2px 2px 5px black, -2px -2px 5px black ; */
 
 }


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



.listarrow {
    height: 10px;
    width: 10px;
}

.product h2{
    position: relative;
    /* top:-15px; */
    margin-top: -66px;
    margin-left: 8px;
    margin-bottom: 2px;
    transition: all 0.2s;
    font-size: 37px;
}


.product h1 {
    margin-left: 5px;
    font-size: 25px;
}
.product * {
    
    margin: 0;

}
.credit {
    /* margin-left: 5px; */
    color:rgb(0, 0, 0);
    text-decoration: none;
    text-shadow:
        -0.5px -0.5px 0 #ffffff,
        0.5px -0.5px 0 #ffffff,
        -0.5px  0.5px 0 #ffffff,
        0.5px  0.5px 0 #ffffff;
        
}

.galindo-regular {
  font-family: "Galindo", sans-serif;
  font-weight: 400;
  font-style: normal;
}



.fullstar {
    display: flex;
    margin-left: 2px;
    width: 20px;
    /* height: 15px; */
    margin-left: 3px;
    
    
    background-position: center;
}
#menu-button{
    cursor: pointer;
}
#cart {
    cursor: pointer;
}

/* PHONE */
@media screen and (max-width:500px) {
    body {
        /* grid-template-areas: 
        "nv nv"
        "as as"
        "sc sc"
        "mn mn"
        "ft ft"
        ;    */
        grid-template-areas: 
        "nv"
        "as"
        "sc"
        "mn"
        "ft"
        ;   

        grid-template-columns: 1fr;
        grid-template-rows: 70px 100px 100px auto 150px;
    
        
    }
    #menu {
        position: fixed;
        z-index: 2;
        background-color: rgb(213, 212, 212);
        width: 70vw;
        left: 140vw;
        height: 100vh;
        transition: left 0.4s; 
        display: flex;
        
    }
    .show {
        left:30vw !important; 
    }
    button {
        max-width: 150px;
        width: 50%;
        margin:0 0 2px 0px;
        box-shadow: 2px 2px 5px black;
    }

    #logo {
        /* position: absolute; */
        grid-area: lg;
        /* max-width: fit-content; */
        max-height: min-;
        margin: auto 0;
        margin-left:10px;
        /* height: 80px; */
        /* top:10%; */
        
    }

    .product {
        position: relative;
        box-shadow:2px 2px 5px black, -2px -2px 5px black ;
        transition: transform 0.2s ease;
        /* transition: width 1s, height 1s, box-shadow 1s; */
        margin:0px;
        padding: 0px;
        background-image:linear-gradient(140deg, var(--itemfade1) ,var(--itemfade2));
        /* background-image:linear-gradient(140deg, rgb(49, 49, 237) ,rgb(114, 114, 170)); */
        /* left: 1%; */
        width:100%;
        height: 200px;
        
    }
     .display {
        height: 50%;
        
    }       
    .display {
    height: 100%;
    width: 50%;
    object-fit:cover;
    transition: height 0.2s;
}
    .product h1{
        position: relative;
        left:50%;
        top:-105%;
        width: 48%;
    }
    .product h6 {
    position: relative;
    top:-20px;
    margin-left: 12px;
    /* left:5px; */
    }
    .fullstar{
        position: relative;
        left: 47%;
        top:-108%;
    }
    .product h2{
        top: -62%;
        left: 50%;
        width: 48%;
    }
}

/* COMPUTER */
@media screen and (min-width:500px) {
    body {
        grid-template-areas: 
        "nv nv nv"
        "sc sc sc"
        "ed mn as"
        "ed ft ft"
        ;   

        grid-template-columns: 15px 1fr 25vw;
        grid-template-rows: 80px 50px min-content 150px;
    }

    #logo {
        /* position: absolute; */
        grid-area: lg;
        /* max-width: fit-content; */
        max-height: min-content;
        margin: auto 0;
        margin-left:20px;
        height: 100%;
        /* top:10%; */
    
    }
    button {
        max-width: 150px;
        width: 23%;
        box-shadow: 2px 2px 5px black;
    }

    #menu {
        position: fixed;
        z-index: 2;
        background-color: rgb(213, 212, 212);
        width: 20vw;
        left: 100vw;
        height: 100vh;
        transition: left 0.4s;
        
    }
    .show {
        left:80vw !important; 
    }
    .product {
        

        box-shadow:2px 2px 5px black, -2px -2px 5px black ;
        transition: transform 0.2s ease;
        /* transition: width 1s, height 1s, box-shadow 1s; */
        margin:0px;
        padding: 0px;
        background-image:linear-gradient(140deg, var(--itemfade1) ,var(--itemfade2));
        /* background-image:linear-gradient(140deg, rgb(49, 49, 237) ,rgb(114, 114, 170)); */
        width:25%;
        height: 400px;
        
    }
    .display {
    height: 60%;
    width: 100%;
    object-fit:cover;
    transition: height 0.2s;
    }
    .product:hover .display {
        height: 50%;
    }
    .product h6 {
        position: relative;
        top:-20px;
        margin-left: 5px;
        /* left:5px; */
    }
    .product:hover {
        transform: scale(1.03);
        background-image:linear-gradient(140deg, var(--bodycolor) ,var(--bodycolor));

    }
    .product:hover .addcart {
        top:-98px;
        
    }
    .product:hover li {
        margin-top: 3px;
        opacity: 100%;
        margin-left: -25px;
    }
    .product:hover h2 {
        /* top:27px; */
        margin-top: 0px;
    }
    .product:hover .circle{
        top:-85px;
        opacity: 24%;
        
    }

}